In [1]:
for i in range(60, 65):
    print(i)

60
61
62
63
64

In [8]:
import numpy as np

print(np.concatenate( (np.array([1,2,3,4,5]), np.array([1,2,3,4,5]))))

[1 2 3 4 5 1 2 3 4 5]

In [1]:
xd= 2 if 2>1 else 1
xd

2

In [1]:
import pandas as pd

url = "./datasets/DAT_ASCII_EURUSD_M1_2018.csv"
df = pd.read_csv(url, names=list(["date","open", "high", "low", "close", "volume"]), header=None, sep=";")
df.drop("volume", 1, inplace=True)
df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
df.set_index('date', inplace=True)

df.head()

                        open     high      low    close
date
2018-01-01 17:00:00  1.20037  1.20100  1.20037  1.20100
2018-01-01 17:01:00  1.20083  1.20095  1.20017  1.20030
2018-01-01 17:02:00  1.20035  1.20043  1.20035  1.20043
2018-01-01 17:03:00  1.20041  1.20050  1.20031  1.20046
2018-01-01 17:04:00  1.20049  1.20049  1.20046  1.20048

In [3]:
df["future"]=df["close"].shift(-5)
df.tail(12)

                        open     high      low    close   future
date
2018-12-31 16:48:00  1.14610  1.14615  1.14608  1.14609  1.14621
2018-12-31 16:49:00  1.14608  1.14608  1.14603  1.14603  1.14630
2018-12-31 16:50:00  1.14604  1.14609  1.14601  1.14608  1.14637
2018-12-31 16:51:00  1.14610  1.14620  1.14609  1.14617  1.14642
2018-12-31 16:52:00  1.14617  1.14621  1.14612  1.14619  1.14645
2018-12-31 16:53:00  1.14617  1.14624  1.14614  1.14621  1.14672
2018-12-31 16:54:00  1.14621  1.14632  1.14620  1.14630  1.14644
2018-12-31 16:55:00  1.14631  1.14637  1.14626  1.14637      NaN
2018-12-31 16:56:00  1.14637  1.14642  1.14624  1.14642      NaN
2018-12-31 16:57:00  1.14642  1.14647  1.14640  1.14645      NaN
2018-12-31 16:58:00  1.14645  1.14674  1.14639  1.14672      NaN
2018-12-31 16:59:00  1.14671  1.14671  1.14635  1.14644      NaN